/*@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Ligth.ttf);
}

.big-title{
  font-family: 'roboto';
}*/

.bt-cheguei{
  text-align: center;
  margin: 40px;
}
.bt-cheguei button {
  font-size: 50px;
}
.icone-grande {
  width: 100px;
}
#divObjetivos {
  display: none;
}
#objetivos .row{
  margin-top: 10px;
  margin-bottom: 5px;
}
