<!DOCTYPE html>
<html>
<head>
<title>Edit</title>
</head>
<body>

<h1>Edit</h1>

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

{% if success %}
<p>A sua senha foi alterada com sucesso!</p>
{% endif %}

<form method="post" action="{% url 'accounts:edit_password' %}">
{% csrf_token %}
<table>
{% for field in form %}
<tr>
    <td>{{ field.label_tag }}</td>
    <td>{{ field }}</td>
    <td>{{ field.errors }}</td>
</tr>
{% endfor %}
</table>

<input type="submit" value="register"/>
</form>

</body>
</html> 
