{% extends 'base.html' %}
{% load static %}

{% block title %}
Diário.IO
{% endblock title %}


{% block addcss %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
{% endblock addcss %}

{% block content %}
<div class="card fluid">
  <div class="content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center big-title">Chegou?</h1>
        <h1 class="text-center big-title">Inicie um novo diário!</h1>
      </div>
    </div>
    <div class="row" style="border:solid 1px">

    </div>
  </div>
</div>
{% endblock content %}
